{% extends 'base_site.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block navbar %}
    {% include 'nav_home.html' %}
{% endblock %}

{% block content %}

    <h1>{% trans 'My Mentor' %}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if predicted_score_optim %}
        <p>{% trans 'Predicted Score:' %}</p>
        <ul>
            {% for mentor_info in predicted_score_optim %}
                <li>
                    {% trans 'Matching with' %} {{ mentor_info.Score|floatformat:2|multiply:100 }}%:
                    <ul>
                        <li>{% trans 'First Name: ' %}{{ mentor_info.FirstName }}</li>
                        <li>{% trans 'Name:' %}{{ mentor_info.LastName }}</li>
                        <li>{% trans 'Skills:'%} {{ mentor_info.Skills }}</li>
                        <li>{% trans 'Job:' %}{{ mentor_info.Job }}</li>
                        <li>{% trans 'Rating: ' %}{{ mentor_info.Rating }}/5</li>
                    </ul>
<button class="btn btn-primary btn-send-request" data-mentor-id="{{ mentor_info.ID }}">{% trans 'Send a request' %}</button>
		                    </li>
                <h1><a class="btn btn-link" href="{% url 'profile' mentor_info.ID %}">{% trans 'View full profile' %}</a></h1>
            {% endfor %}
        </ul>
    {% else %}
    	<p>{% trans 'No mentor found for now' %}</p>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
 <!-- Inclusion de jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".btn-primary").click(function() {
            var btn = $(this);
            var mentorId = btn.data('mentor-id');
            // Récupération de la date et de l'heure actuelles si nécessaire
            var currentDate = new Date();
            var dateString = currentDate.toISOString().split('T')[0];  // Format 'YYYY-MM-DD'
            var timeString = currentDate.toTimeString().split(' ')[0];  // Format 'HH:MM:SS'

            $.ajax({
                type: "POST",
                url: "{% url 'send_request' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    mentor_id: mentorId,
                    mentee_id: '{{ user.id }}', // Assurez-vous que c'est la bonne façon d'obtenir l'ID du mentee
                    date: dateString,
                    time: timeString
                },
                success: function(data) {
                    if(data.success) {
                        btn.text("{% trans 'Request Sent' %} ✔").prop("disabled", true).addClass("btn-success");
// Traiter l'ID de CoachingRequest reçu
                        var coachingRequestId = data.coaching_request_id;
                        if (coachingRequestId) {
                            console.log("ID de CoachingRequest:", coachingRequestId);
                            // Vous pouvez utiliser cet ID ici pour des actions supplémentaires
			    localStorage.setItem('coachingRequestId', coachingRequestId);
                        } else {
                            console.log("ID de CoachingRequest non reçu.");
                        }
                    } else {
                        alert("Error sending request!");
                    }
                },
                error: function() {
                    alert("Error sending request!");
                }
            });
        });
    });
</script>
{% endblock %}
