{% extends 'base_site.html' %}

{% load static %}
{% load i18n %}

{% block navbar %}
    {% include 'nav_home.html' %}
{% endblock %}

{% block extra_styles %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Utilisez la hauteur de la fenêtre pour centrer verticalement */
        }

        .payment-form {
            background-color: #f7f7f7;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        .payment-form h2 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        .payment-form label {
            display: block;
            margin-bottom: 5px;
        }

        .payment-form input[type="radio"] {
            margin-right: 5px;
        }

        .payment-form button {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        .payment-form button:hover {
            background-color: #45a049;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
		<h2> {% trans '✨ Free trial day! ✨' %} </h2>
		<h3> {% trans 'Get full access for 24 hours free of charge. Subscribe now and discover everything we have to offer!' %} </h3>
		<p> {% trans 'Note: You can cancel the subscription at any time in your account settings.' %} </p>
            <form enctype="multipart/form-data" method="post" role="form" class="payment-form">
                {% csrf_token %}
                <h2>{% trans 'Hi' %} {{ user }}{% trans '! To proceed, select your payment type and click the button' %}</h2>

                <!-- Choix du type de paiement -->
                {% comment %}<div>
                    <input type="radio" id="paymentTypeOneTime" name="payment_type" value="one_time" checked>
                    <label for="paymentTypeOneTime">{% trans 'One-time Payment' %}</label>
                </div>{% endcomment %}
                <div>
                    <input type="radio" id="paymentTypeSubscription" name="payment_type" value="subscription">
                    <label for="paymentTypeSubscription" style="color: #007bff">{% trans 'Subscription' %}</label>
                </div>

                <!-- Choix du type d'abonnement si l'abonnement est sélectionné -->
                <div id="subscriptionTypeChoice" style="display: none;">
                    <input type="radio" id="weeklySubscription" name="subscription_type" value="weekly">
                    <label for="weeklySubscription" style="color: #007bff">{% trans 'Weekly Subscription' %}</label>
                    <input type="radio" id="monthlySubscription" name="subscription_type" value="monthly" checked>
                    <label for="monthlySubscription" style="color: #007bff">{% trans 'Monthly Subscription' %}</label>
                </div>

                <!-- Bouton de soumission -->
                <button type="submit">{% trans 'Proceed to Payment' %}</button>
            </form>
        {% else %}
            <h2>{% trans 'You are not logged in...' %}</h2>
            <a href="{% url 'login' %}" class="btn btn-secondary">{% trans 'Log in' %}</a>
        {% endif %}
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var paymentTypeSubscription = document.getElementById('paymentTypeSubscription');
            var subscriptionTypeChoice = document.getElementById('subscriptionTypeChoice');

            paymentTypeSubscription.addEventListener('change', function() {
                if (this.checked) {
                    subscriptionTypeChoice.style.display = 'block';
                }
            });

           {% comment %} var paymentTypeOneTime = document.getElementById('paymentTypeOneTime');
            paymentTypeOneTime.addEventListener('change', function() {
                if (this.checked) {
                    subscriptionTypeChoice.style.display = 'none';
                }
            });{% endcomment %}
        });
    </script>
{% endblock %}
