{% extends 'base_site.html' %}
{% load i18n %}

{% block content %}
    <div class="subscription-info-container">
        <h1>{% trans 'Subscription Information' %}</h1>
        <p>{% trans 'Status:' %} {{ 'Premium' if is_premium else 'Standard' }}</p>
        {% if is_premium %}
            <p>{% trans 'Your subscription will end on:' %} {{ subscription_end_date|date:"Y-m-d" }}</p>
        {% endif %}
        <!-- Ajoutez plus de détails sur l'abonnement si nécessaire -->
    </div>
{% endblock %}
