{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}"> 
    <title>{% block title %}{% endblock %}</title>
    {% block extra_styles %}{% endblock %}
</head>

{% block extrahead %}
   {% endblock %}


{% block navbar %}
    <!-- Navbar content here -->
{% endblock %}

<body class="{% if request.session.theme == 'dark-mode' %}dark-mode{% else %}light-mode{% endif %}">


<div class="sidebar" id="sidebar-wrapper" >
    {% block sidebar %}
        <!-- Sidebar content here -->
    {% endblock %}
</div>

<div class="content-wrapper" id="main-content">
    {% block content %}
        <!-- Main content here -->
    {% endblock %}
</div>

{% block footer %}
    <!-- Footer content here -->
{% endblock %}

{% block extra_scripts %}{% endblock %}
</body>
</html>
