{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Online revision platform' %}{% endblock %}

{% block extra_styles %}
    <style>
        .messages-box {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 300px;
            background-color: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 1000;
            max-height: 600px;
            overflow: auto;
            display: none; /* Caché par défaut */
        }

        .messages-header {
            background-color: #007bff;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .messages-header h4 {
            margin: 0;
        }

        .messages-header button {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        .message-item {
            padding: 10px;
            border-bottom: 1px solid #f0f0f0;
        }

        .message-item.read {
            background-color: #e9ecef;
        }

        .message-item p {
            margin: 0;
        }

        .reply-form {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .reply-form textarea {
            margin-bottom: 10px;
        }

        .btn-reply {
            margin-top: 10px;
        }
        nav {
            background-color: #333;
            padding: 10px 20px;
            text-align: center;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        body {
            display: flex;
            flex-direction: column; /* Organise les éléments du body en colonne */
            justify-content: center; /* Centre les éléments verticalement */
            align-items: center; /* Centre les éléments horizontalement */
            min-height: 100vh; /* Hauteur minimale pour prendre toute la hauteur de la fenêtre */
            margin-top: 50px; /* Espace pour le navbar, ajustez en fonction de la hauteur de votre navbar */
            margin-bottom: 50px; /* Espace pour le footer, ajustez en fonction de la hauteur de votre footer */
            padding: 0; /* Réinitialise le padding */
            box-sizing: border-box;
        }
        .container {
            background-color: #fff;
            padding: 90px;
            background-color: #777777;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex; /* Align horizontally */
            justify-content: center;
            align-items: center;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
        }
        .button {
            background-color: #e7e7e7;
            border: none;
            padding: 10px 20px;
            text-align: center;
            display: block;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 10px;
        }
        img {
            width: 100px; /* ou la taille souhaitée */
            height: auto;
        }
        /* Styles pour la barre de recherche */
        .search-container {
            text-align: center; /* Centre la barre de recherche */
            margin: 20px 0; /* Ajoute de l'espace autour de la barre de recherche */
            padding-top: 150px;
        }

        .search-container form {
            display: inline-block; /* Affiche le formulaire en ligne */
        }

        .search-container input[type="text"] {
            padding: 10px; /* Ajoute du padding dans le champ de saisie */
            margin-right: -4px; /* Corrige un écart potentiel entre l'input et le bouton */
            border: 1px solid #ddd; /* Ajoute une bordure au champ de saisie */
            font-size: 16px; /* Taille de la police pour le champ de saisie */
        }

        .search-container button {
            padding: 10px; /* Ajoute du padding dans le bouton */
            background: #007bff; /* Couleur de fond du bouton */
            color: white; /* Couleur du texte du bouton */
            border: none; /* Supprime la bordure du bouton */
            cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton */
        }

        .search-container button:hover {
            background: #0056b3; /* Couleur de fond du bouton au survol */
        }
        .notification-unread {
            font-weight: bold;
        }
        .badge {
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 2px 5px;
            font-size: 12px;
            position: relative;
            top: -10px;
            right: -10px;
        }

        #notificationBadge {
            position: absolute;
            top: 0px; /* Ajustez cette valeur pour positionner verticalement */
            right: 0px; /* Ajustez cette valeur pour positionner horizontalement */
            background-color: red;
            color: white;
            border-radius: 50%;
            font-size: 12px;
            padding: 2px 5px;
        }

        #openMessagesBox {
            position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
            bottom: 80px;   /* 20px du bas, augmentez si nécessaire pour éviter le chevauchement avec le footer */
            right: 10px;    /* 20px de la droite */
            z-index: 1000;  /* S'assurer qu'il se situe au-dessus des autres éléments */
            width: 170px;
        }

        .messages-box {
            display: none; /* Cachez la boîte de messages par défaut */
            position: absolute; /* Position absolue par rapport à son conteneur relatif */
            bottom: 120px; /* La hauteur du bouton plus un peu d'espace */
            right: 0; /* Alignez à droite */
            width: 220px; /* Ou la largeur que vous voulez pour la boîte de messages */
            z-index: 1000; /* S'assure qu'elle s'affiche au-dessus des autres éléments */
            background: white; /* Ou toute autre couleur de fond */
            border: 1px solid #ccc; /* Optionnel, pour la bordure */
            border-radius: 5px; /* Optionnel, pour les coins arrondis */
            height: 300px;
        }

        .d-flex.justify-content-end {
            position: relative; /* Position relative pour le conteneur du bouton */
        }

        @media only screen and (max-width: 600px) {
            nav {
                padding: 5px;
            }
            .container, .button-container {
                flex-direction: column;
                align-items: stretch;
            }
            .button {
                width: 100%; /* Boutons sur toute la largeur */
                margin: 5px 0; /* Réduire l'espace entre les boutons */
            }
            .search-container input[type="text"], .search-container button {
                width: 100%; /* Champ de recherche sur toute la largeur */
            }
            .messages-box {
                bottom: 0; /* Positionnement en bas de l'écran */
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            /* Adaptation de la taille des textes */
            .messages-header h4, .message-item p {
                font-size: smaller;
            }
        }

        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            /* Styles spécifiques pour les tablettes */
            .container {
                flex-direction: row; /* Alignement horizontal pour une meilleure utilisation de l'espace */
            }
            .button {
                margin: 10px; /* Espace autour des boutons */
            }
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            padding-top: 25px;
            height: 0;
        }

        .video-container iframe, .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
{% endblock %}

{% block navbar %}
    <nav style="background-color: #3A3A3A; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center;">
        <!-- Logo et lien vers la page d'accueil -->
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" style="height: 100px;">
            </a>
        </div>

        <!-- Onglets Notifications et Utilisateur regroupés -->
        <div style="display: flex; align-items: center; gap: 20px;">
            <a href="{% url 'messaging' %}" title="{% trans 'Messages' %}" style="color: white;">
                <i class="fas fa-comments fa-lg"></i>
            </a>
            <!-- Onglet Notifications -->
            <div style="position: relative;">

                <a class="nav-link" href="#" id="notificationDropdownToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; text-decoration: none;">
                    <i class="fa fa-bell" id="notificationIcon" style="font-size: 1.5em;"></i>
                    <span id="notificationBadge" class="badge badge-danger"></span>
                </a>


                <div class="dropdown-menu" aria-labelledby="notificationDropdownToggle">
                    <!-- Ici, insérez dynamiquement les notifications -->

                </div>
            </div>

            <!-- Onglet Utilisateur -->
            <div style="position: relative;">
                <a class="nav-link" href="#" id="userDropdownToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; text-decoration: none;">
                    {% if user.is_authenticated %}
                        {% if user_profile.avatar %}
                            <img src="{{ user_profile.avatar.url }}" alt="Avatar" style="height: 30px; width: 30px; border-radius: 15px;">
                        {% endif %}
                        {{ user.username }}
                    {% else %}
                        {% trans 'User' %}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdownToggle">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'profile' user_id=user.id %}">{% trans 'My profile' %}</a>
                        <a class="dropdown-item" href="{% url 'account_settings' %}">{% trans 'Account' %}</a> <!-- Lien vers les paramètres du compte -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">{% trans 'Login' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <main>
    <!-- Barre de recherche -->
    <div class="search-container" style="margin-bottom: 150px;">
        <form action="{% url 'searching' %}" method="get">
            <input type="text" placeholder="{% trans 'Search...' %}" name="search">
            <button type="submit">{% trans 'Search' %}</button>
        </form>
    </div>

    <div class="container">
        <div class="button-container">
            <img src="{% static 'images/virtual_class.png' %}" loading="lazy" width="300px" alt="{% trans 'Virtual Classroom' %}">
            <a href="{% url 'revision_group' %}" class="button" id="virtual-classroom">{% trans 'Create Workgroups' %}</a>
        </div>

        <div class="button-container">
            <img src="{% static 'images/workspace.png' %}" loading="lazy" width="300px" alt="{% trans 'Mentoring' %}">
            <a href="{% url 'mentoring_page' %}" class="button" id="mentoring">{% trans 'Mentoring' %}</a>
        </div>

        <div class="button-container">
            <img src="{% static 'images/switch.png' %}" loading="lazy" width="300px" alt="{% trans 'Smart Assistant' %}">
            <a href="{% url 'scrape' %}" class="button" id="smart-assistant">{% trans 'Smart Assistant' %}</a>
        </div>
    </div>

        <!-- Vidéo locale -->
        <div class="video-container">
            <video width="560" height="315" autoplay loop muted>
                <source src="{% static 'videos/Design.mp4' %}" type="video/mp4">
                {% trans 'Your browser does not support HTML5 videos.' %}
            </video>
        </div>


    <!-- Boîte de messages -->
    <div id="messagesBox" class="messages-box">
        <!-- Entête -->
        <div class="messages-header">
            <h4>{% trans 'Messages' %}</h4>
            <button id="closeMessagesBox" class="btn btn-light">X</button>
        </div>

        <!-- Liste de messages -->
        <div class="messages-list">
            {% for message in messages %}
                <div class="message-container">
                    <div class="sender-info">
                        <!-- Use the URL from the sender's dictionary -->
                        <img class="sender-image" src="{{ message.sender.profile_picture_url }}" alt="{{ message.sender.username }} Picture">
                        <p class="sender-name">{{ message.sender.username }}</p>
                    </div>
                    <div class="message-content">
                        <p class="message-text">{{ message.text }}</p>
                        <span class="message-time">{{ message.timestamp }}</span>
                    </div>
                </div>
            {% empty %}
                <p>{% trans 'No messages' %}</p>
            {% endfor %}
        </div>

        <!-- Formulaire d'envoi -->
        <form method="post" action="{% url 'sendMessage' %}">
            {% csrf_token %}
            <input type="text" id="search_user" placeholder="Search for a user...">
            <div id="search_results"></div>

            <input type="hidden" name="recipient_id" id="selected_recipient_id" value="">
            <textarea name="message_text" required></textarea>
            <button type="submit">{% trans 'Send Message' %}</button>
        </form>

    </div>

        <!-- Modale pour afficher les détails de la notification -->
        <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="notificationModalLabel">Notification Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalContent">
                        <!-- Les détails de la notification seront injectés ici -->
                    </div>
                    <div class="modal-footer">
                        <button id="acceptButton" type="button" class="btn btn-success">{% trans 'Accept' %}</button>
                        <button id="denyButton" type="button" class="btn btn-danger">{% trans 'Deny' %}</button>
                        <button id="closeButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bouton pour ouvrir la boîte de messages -->
    {% comment %}<div class="d-flex justify-content-end">
        <button id="openMessagesBox" class="btn btn-primary">{% trans 'Messagerie' %}</button>
    </div>{% endcomment %}
    </main>
{% endblock %}


{% block extra_scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <script>
        var currentLanguage = "{{ request.LANGUAGE_CODE }}";
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('search_user').addEventListener('keyup', function() {
                const query = this.value;
                if (query.length > 2) {
                    fetch(`{% url 'searching' %}?search=${encodeURIComponent(query)}`)
                        .then(response => response.json())
                        .then(data => {
                            let users = data.users;
                            let workgroups = data.workgroups;
                            let resultsDiv = document.getElementById('search_results');
                            resultsDiv.innerHTML = '';

                            // Ajouter les utilisateurs au résultat
                            users.forEach(user => {
                                let userDiv = document.createElement('div');
                                userDiv.className = 'search-item user';
                                userDiv.innerHTML = `User: ${user.username}`;
                                resultsDiv.appendChild(userDiv);
                            });

                            // Ajouter les groupes de travail au résultat
                            workgroups.forEach(workgroup => {
                                let workgroupDiv = document.createElement('div');
                                workgroupDiv.className = 'search-item workgroup';
                                workgroupDiv.innerHTML = `Workgroup: ${workgroup.name}`;

                                resultsDiv.appendChild(workgroupDiv);
                            });
                        });
                }
            });


            // Définissez getCookie en dehors des événements DOMContentLoaded pour qu'elle soit accessible globalement
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            fetchNotifications();

            function fetchNotifications() {
                fetch('{% url 'get-notifications' %}')
                    .then(response => response.json())
                    .then(data => {
                        updateNotificationsDropdown(data.notifications, data.unread_count);
                    });
            }

            function updateNotificationsDropdown(notifications, unreadCount) {
                const notificationsDropdown = document.querySelector('.dropdown-menu[aria-labelledby="notificationDropdownToggle"]');

                notifications.forEach(notification => {
                    const notificationElement = document.createElement('a');
                    notificationElement.setAttribute('data-id', notification.id);
                    notificationElement.classList.add('dropdown-item');
                    if (!notification.read) {
                        notificationElement.classList.add('notification-unread');
                    }
                    notificationElement.textContent = notification.title;

                    if (notification.type === 'invitation') {
                        // Gérer les notifications d'invitation
                        notificationElement.href = `/notifications/${notification.id}/`;
                        notificationElement.addEventListener('click', async function(e) {
                            e.preventDefault();
                            await markAsRead(notification.id);
                            window.location.href = this.href;  // Rediriger vers le détail de la notification
                        });
                    } else if (notification.type === 'join_request') {
                        // Gérer les demandes d'adhésion
                        notificationElement.addEventListener('click', async function(e) {
                            e.preventDefault();
                            await markAsRead(notification.id);
                            showNotificationDetails(notification); // Afficher le modal
                        });
                    }

                    notificationsDropdown.appendChild(notificationElement);
                });


                const notificationBadge = document.getElementById('notificationBadge');
                if (unreadCount > 0) {
                    notificationBadge.textContent = unreadCount;
                    notificationBadge.style.display = 'inline-block'; // Assurez-vous que le badge est visible
                } else {
                    notificationBadge.style.display = 'none'; // Cachez le badge s'il n'y a pas de notifications non lues
                }

                // Ajoutez le lien 'See All Notifications'
                const allNotificationsElement = document.createElement('a');
                allNotificationsElement.href = '{% url 'all_notifications' %}';
                allNotificationsElement.classList.add('dropdown-item');
                allNotificationsElement.textContent = '{% trans "See all notifications" %}';
                notificationsDropdown.appendChild(allNotificationsElement);

                // Ajoutez un séparateur
                const divider = document.createElement('div');
                divider.classList.add('dropdown-divider');
                notificationsDropdown.appendChild(divider);

                // Ajoutez le bouton 'Clear All'
                const clearAllElement = document.createElement('a');
                clearAllElement.href = '#';
                clearAllElement.id = 'clearAllNotifications';
                clearAllElement.classList.add('dropdown-item');
                clearAllElement.textContent = '{% trans "Clear all" %}';
                notificationsDropdown.appendChild(clearAllElement);

                document.getElementById('clearAllNotifications').addEventListener('click', function(e) {
                    e.preventDefault();
                    fetch('{% url 'clear_all_notifications' %}', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                // Supprimez toutes les notifications du menu déroulant
                                const notificationsDropdown = document.querySelector('.dropdown-menu[aria-labelledby="notificationDropdownToggle"]');
                                notificationsDropdown.innerHTML = '';
                                // Mettre à jour le compteur de notifications
                                updateNotificationCounter();
                            }
                        });
                });

            }
            function handleInvitation(notificationId, accepted) {
                const url = accepted
                    ? `/notifications/accept-join/${notificationId}/`
                    : `/notifications/deny-join/${notificationId}/`;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ notificationId: notificationId })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            alert(data.message); // Afficher un message de succès
                        } else {
                            alert('Error: ' + data.message); // Afficher un message d'erreur
                        }
                        $('#notificationModal').modal('hide'); // Fermer le modal
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred. Please try again.'); // Message d'erreur générique
                    });
            }

            function showNotificationDetails(notification) {
                const modalContent = document.getElementById('modalContent');
                const acceptButton = document.getElementById('acceptButton');
                const denyButton = document.getElementById('denyButton');
                const closeButton = document.getElementById('closeButton');

                if (modalContent && acceptButton && denyButton && closeButton) {
                    modalContent.textContent = notification.body;

                    acceptButton.onclick = () => handleInvitation(notification.id, true);
                    denyButton.onclick = () => handleInvitation(notification.id, false);
                    closeButton.onclick = () => $('#notificationModal').modal('hide');

                    $('#notificationModal').modal('show');
                } else {
                    console.error('One or more modal elements are missing');
                }
            }


            async function markAsRead(notificationId) {
                const response = await fetch(`/mark_notification_as_read/${notificationId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                });

                const data = await response.json();
                if (data.status === 'success') {
                    // Changez le style mais gardez l'élément dans le DOM
                    const notificationElement = document.querySelector(`.dropdown-item[data-id="${notificationId}"]`);
                    if (notificationElement) {
                        notificationElement.classList.remove('notification-unread');
                        notificationElement.classList.add('notification-read');
                    }

                    // Mise à jour de la liste de notifications pour refléter le changement
                    fetchNotifications();
                }
            }


            function updateNotificationCounter() {
                const unreadNotifications = document.querySelectorAll('.dropdown-item.notification-unread');
                const notificationCounter = document.getElementById('notificationBadge');
                const newCount = unreadNotifications.length;
                notificationCounter.textContent = newCount > 0 ? newCount : '';
                notificationCounter.style.display = newCount > 0 ? 'inline-block' : 'none';
            }


// Appeler la fonction pour charger le nombre de messages non lus
            fetchUnreadMessagesCount();

            function fetchUnreadMessagesCount() {
                fetch('{% url 'get-unread-messages-count' %}') // Remplacez par l'URL de votre vue Django
                    .then(response => response.json())
                    .then(data => {
                        updateMessagesIcon(data.unread_count);
                    });
            }

            function updateMessagesIcon(unreadCount) {
                const messagesIcon = document.querySelector('.fa-comments');
                const badge = document.createElement('span');
                badge.classList.add('badge', 'badge-danger');
                badge.textContent = unreadCount;

                if (unreadCount > 0) {
                    messagesIcon.appendChild(badge);
                } else {
                    // Si aucun badge n'existe, ne faites rien
                    if (messagesIcon.contains(badge)) {
                        messagesIcon.removeChild(badge);
                    }
                }
            }

            // Script pour ouvrir/fermer la boîte de messages
            var openMessagesBtn = document.getElementById('openMessagesBox');
            var messagesBox = document.getElementById('messagesBox');
            var closeMessagesBox = document.getElementById('closeMessagesBox');

            if (openMessagesBtn && messagesBox) {
                openMessagesBtn.addEventListener('click', function() {
                    messagesBox.style.display = 'block';
                });
            }

            if (closeMessagesBox && messagesBox) {
                closeMessagesBox.addEventListener('click', function() {
                    messagesBox.style.display = 'none';
                });
            }
        });


    </script>


{% endblock %}

{% block footer %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Hauteur minimale pour prendre toute la hauteur de la fenêtre */
            margin: 0; /* Réinitialiser les marges */
        }

        main {
            flex: 1; /* Permet au contenu principal de se développer et de remplir l'espace */
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
            width: 100%;
            font-size: 1rem; /* Taille de police initiale */
        }

        @media only screen and (max-width: 600px) {
            footer {
                padding: 10px 0;
                font-size: 0.8rem; /* Taille de police plus petite pour les petits écrans */
            }
        }

        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            footer {
                font-size: 0.9rem; /* Taille de police intermédiaire pour les tablettes */
            }
        }
    </style>

    <footer>
        <p>&copy; Copyright {% now 'Y' %} &middot; Jokk {% trans 'Personalised Learning Platform' %} &middot; {% trans 'All rights reserved!' %}</p>
    </footer>
{% endblock %}


