{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block extra_styles %}
<style>
    	 .followers-container, .following-container {
        background-color: #f8f9fa;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
       
        cursor: pointer;
        transition: all 0.3s ease;

        margin-left: auto;
        margin-right: auto;
        
    }

    .followers-container:hover, .following-container:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .followers-count, .following-count {
        font-weight: bold;
        color: #0056b3;
        font-size: 24px; /* Ajuster la taille de police si nécessaire */
    }

    #followersList, #followingList {
        list-style-type: none;
        padding-left: 0;
        display: none;
        max-height: 100px; 
        overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
    }

    .list-hidden li {
        padding: 2px 0;
    }

    .list-hidden li:hover {
        background-color: #e9ecef;
    }

        .profile-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .profile-picture {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 3px solid #ddd;
            margin-top: 20px;
        }

        @media (max-width: 767px) {
            .profile-picture {
                width: 200px; /* Taille ajustée pour les petits écrans */
                height: 200px;
            }
        }
        .list-unstyled li {
            margin-bottom: 10px; /* Ajustez cette valeur selon vos besoins */
        }

    </style>
{% endblock %}

{% block navbar %}
    {% include 'nav_home.html' %}
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="profile-card p-4 shadow">
            <div class="row">
                <!-- Section Photo -->
                <div class="col-md-4 text-center">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" alt="Profile Picture" class="img-fluid rounded-circle profile-picture">
                    {% endif %}
                </div>

		<div class="followers-container">
    <h3>{% trans 'Followers' %}</h3>
    <p class="followers-count" onclick="toggleFollowersList()">{{ followers_count }}</p>
    <ul id="followersList" class="list-hidden">
        {% for follower in followers %}
            <li>{{ follower.follower.username }}</li>
        {% endfor %}
    </ul>
</div>

<div class="following-container">
    <h3>{% trans 'Following' %}</h3>
    <p class="following-count" onclick="toggleFollowingList()">{{ following_count }}</p>
    <ul id="followingList" class="list-hidden">
        {% for follow in following %}
            <li>{{ follow.followed.username }}</li>
        {% endfor %}
    </ul>
</div>

                <!-- Section Informations -->
                <div class="col-md-8">
                    <h2>{{ profile.user.username }}</h2>

                    <ul class="list-unstyled">
                        {% if profile.birthdate %}
                            <li><strong>{% trans 'Birthdate:' %}</strong> {{ profile.birthdate }}</li>
                        {% endif %}

                        {% if profile.gender %}
                            <li><strong>{% trans 'Gender:' %}</strong> {{ profile.get_gender_display }}</li>
                        {% endif %}

                        {% if profile.get_country_display %}
                            <li><strong>{% trans 'Country:' %}</strong> {{ profile.get_country_display }} </li>
                        {% endif %}

                        {% if profile.education_level %}
                            <li><strong>{% trans 'Education Level:' %}</strong> {{ profile.education_level }}</li>
                        {% endif %}

                        {% if profile.skills %}
                            <li><strong>{% trans 'Skills:' %}</strong> {{ profile.skills }}</li>
                        {% endif %}

                        {% if profile.phone %}
                            <li><strong>{% trans 'Phone:' %}</strong> {{ profile.phone }}</li>
                        {% endif %}

                        {% if profile.bio %}
                            <li><strong>{% trans 'Bio:' %}</strong> {{ profile.bio }}</li>
                        {% endif %}

                        {% if profile.social_media_links %}
                            <li><strong>{% trans 'Social Media Links:' %}</strong> <a href="{{ profile.social_media_links }}">{{ profile.social_media_links }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

         <!-- Bouton de modification du profil (visible uniquement par l'utilisateur connecté) -->
    {% if request.user == profile.user %}
        <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">{% trans 'Edit Profile' %}</a>
    {% endif %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    function toggleFollowersList() {
        var followersList = document.getElementById("followersList");
        followersList.style.display = followersList.style.display === "none" ? "block" : "none";
    }

    function toggleFollowingList() {
        var followingList = document.getElementById("followingList");
        followingList.style.display = followingList.style.display === "none" ? "block" : "none";
    }
</script>

{% endblock %}
